@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 10px 0 0 0;
    font-family: 'Monteserrat', sans-serif;

}

body{
    background: #f4f4f5;
    color: #18181b;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
}


#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 70%;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    height: 35px;
    width: 420px;
    background: #e4e4e7;
    border-radius: 10px;
    & h1 {
        font-size: 1.5rem;
        color: #3f3f46;
        margin-bottom: 15px;
    }
    
}

.backIcon{
    color: #0284c7;
    padding-left: 15px;
    text-decoration: none;
    margin-bottom: 25px;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 400px;
    height: 50vh;
    & input, textarea, button{
        border: none;
        border-radius: 10px;
        min-height: 50px;
        padding: 0 10px;
        width: 400px;
        max-width: 400px;
    }
    & label{
        margin-right: 260px;
    }
    & textarea{
        padding: 10px;
       min-width: 400px;
    }


    & button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 400px;
        background: #e4e4e7;
        color: #0284c7;
        height: 40px;
        cursor: pointer;
        & i {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
    }


}
.lineDiv{
    background: transparent;
    color: transparent;
    border-top:  #e4e4e7 1px solid;
    width: 100%;
    margin-top: 10px;
}

table {
    width: 80%;
    margin-bottom: 30px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilização zebrada */
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilização do botão de excluir */
  .delete-btn {
    background-color: #e4e4e7;
    color: #f44336;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }


footer{
    background-color: #e4e4e7;
    height: 150px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    
} 
.contentFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.titleFooter{
    display: flex;
    align-items: center;
    gap: 10px;
    & h1 {
        color: #3f3f46;
        font-size: 1.2rem;
    }

    & a {
        font-weight: 300;
        font-size: 1.2rem;
        text-decoration: none;
        color: #18181b;
    }
}
.socialIcons{
    display: flex;
    gap: 40px;
    & a {
        height: 30px;
        font-size: 2rem;
    }
    
}

.iconGithub{

    color: #000;

}
.iconLinkedin{

    color: #0a66c2;

}
.iconInstagram{

    color: rgb(196, 15, 196);

}


